* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  flex: 1 0 31.1%;
  padding: 20px 30px;
  margin: 0 20px 20px 0;
}

.card__image {
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}

/* Why psuedo element not work? */
.card__image::after {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.card__name {
  font-size: 20px;
}

.card__username {
  font-size: 14px;
  color: #afa5b4;
  padding-bottom: 20px;
}

.card__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .card {
    margin-right: 0;
  }
}

.card__container--column {
  flex-direction: column;
  align-items: center;
}

.card__email,
.card__phone {
  font-size: 14px;
  margin-left: auto;
}

.card__email--title,
.card__phone--title {
  font-size: 14px;
}

.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: loading 1.5s ease-in-out 0.5s infinite;
  border: 12px solid #fff;
  border-top-color: #afa5b4;
  border-radius: 50%;
  height: 100px;
  width:  100px;
  background-color: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(2turn);
  }
}